.square-button{
    width: 100px;
    height: 100px;
    margin:10px;
    padding:10px;
    color:floralwhite;
    font-size: 50px;
    background-color: lightblue;
    display:flex;
    justify-content: center;
    align-items: center;

}

